<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= (current_page.data.title ? current_page.data.title + " | " : "") + "Oscar de Arriba" %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <header>
      <div class='brand'>Oscar de Arriba</div>
      <ul class='menu'>
        <li>
          <%= link_to("about", "/#about") %>
        </li>
        <li>
          <%= link_to("blog", "/#blog") %>
        </li>
        <li>
          <%= link_to("contact", "/#contact") %>
        </li>
      </ul>
    </header>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
  <%= javascript_include_tag "site" %>
</html>
