---
title: Start
---

<%= image_tag 'oscar.jpg', class: 'photo' %>

<section class='about with-separator' id='about'>
  <h2>About</h2>

  <p>Hello! My name is Oscar de Arriba, a Software Engineer based in Spain and currently working in <%= link_to("The Book of Everyone", "https://thebookofeveryone.com/", target: '_blank') %>.</p>

  <p><b>Elixir and Ruby</b> are my main development languages at the moment, but I also like to use others like <b>Docker</b>, <b>SCSS</b>, <b>Elm</b> or <b>ReactJS</b>. I used to do some <b>PHP</b> in the past</p>

  <p>I love designing and building high availability systems, and to archieve that I've been experiencing dev-ops technicques like clustering containerized applications.</p>

  <p>I also like to spend some of my free time with Maria and our fantastic cats, Ginebra and Micaela.</p>
</section>

<section class='blog with-separator' id='blog'>
  <h2>Blog</h2>

  <p>I use to write my technical posts (and sometimes only some thoughts) on <%= link_to("Medium", "https://medium.com/@odarriba", target: '_blank') %>, so you can read them there.</p>
</section>

<section class='contact' id='contact'>
  <h2>Contact me</h2>

  <p>You can found me in <%= link_to("Twitter", "https://twitter.com/odarriba", target: '_blank') %>, <%= link_to("Github", "https://github.com/odarriba", target: '_blank') %> or <%= link_to("Linkedin", "https://twitter.com/odarriba", target: '_blank') %>.</p>

  <p>You can also reach me by mail: <b>hey at oscardearriba dot com<b/>.</p>
</section>
