---
---

<img src="/images/oscar.jpg" srcset="/images/oscar-2x.jpg 2x" class="photo" />

<section class='title with-separator'>
  <h1 class='brand'>Óscar de Arriba </h1>
</section>

<section class='about with-separator' id='about'>
  <h2>About me</h2>

  <p>Hello! I'm a Software Engineer based in Barcelona (Spain) and currently working at <%= link_to("The Book of Everyone", "https://thebookofeveryone.com/", target: '_blank') %>.</p>

  <p>I love designing and building high availability systems which scales as needed, putting together the software and the infrastructure. <b>Elixir and Ruby</b> are my main development languages at the moment, but I also have other names in my daily work, like <b>Docker</b>, <b>SCSS</b>, <b>Elm</b>, <b>Kubernetes</b> or <b>ReactJS</b>.

  <p>I also like to spend some of my free time with <%= link_to("Maria", "https://www.instagram.com/metamorphosis91/", target: '_blank') %> and our fantastic cats, <%= link_to("Ginebra", "https://www.instagram.com/p/BRBbUXtjxoM/", target: '_blank') %> and <%= link_to("Micaela", "https://www.instagram.com/p/BTXJGN6D7FO/", target: '_blank') %>.</p>
</section>

<section class='blog with-separator' id='blog'>
  <h2>Blog</h2>

  <p>I use to write my technical posts (and sometimes only some thoughts) on <%= link_to("Medium", "https://medium.com/@odarriba", target: '_blank') %>, so you can read them there.</p>
</section>

<section class='contact with-separator' id='contact'>
  <h2>Contact me</h2>

  <p>You can find my thoughts on <%= link_to("Twitter", "https://twitter.com/odarriba", target: '_blank') %>, my code on <%= link_to("Github", "https://github.com/odarriba", target: '_blank') %>, my photos on <%= link_to("Instagram", "https://instagram.com/odarriba", target: '_blank') %> and my professional experience on <%= link_to("Linkedin", "https://twitter.com/odarriba", target: '_blank') %>.</p>

  <p>You can also reach me by mail: <b>hey at oscardearriba dot com<b/>.</p>
</section>
